<div class="container">

  <h4 class="Menu">登録情報編集</h4>
  <%= form_for(@user) do |f| %>
  <div class="row">
  	<div><%= f.label :名前 %></div>
  	<div><%= f.label :姓 %></div>
  	<div><%= f.text_field :last_name %></div>
  	<div><%= f.label :名 %></div>
  	<div><%= f.text_field :first_name %></div>
  </div><br>

  <div class="row">
    <div><%= f.label :メールアドレス %></div>
    <div><%= f.text_field :email %></div>
  </div><br>

  <%= f.submit "変更を保存する", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "退会する", users_withdraw_path, class: "btn btn-danger" %>
</div>
